body {
    overflow: hidden;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    /* height: 60px; */
    width: 100%;
    display: flex;
    margin: 0;
}

.logo {
    margin: auto 0;
    width: 15vw;
}

.logo img {
    width: 60px;
    height: 60px;
}

.clearfix {
    border-bottom: #eee 1px solid;
    position: relative;
}

input[name="search"] {
    width: 40vw;
    border: none;
    background: #f5f4f4;
    padding: 15px;
    margin: -5px;
}

input[name="search"]:focus {
    outline: 0;
    background: #fff;
    border: 1px solid #eee;
}

.search {
    margin: auto 0;
}

#searchform {
    margin: auto 12px;
}

.btn-search,
.btn-more-search {
    padding: 15px;
    background: #eee;
    border: none;
    cursor: pointer;
}

.btn-search {
    border-radius: 5px 0 0 5px;
}

.btn-more-search {
    border-radius: 0 5px 5px 0;
}

ul li {
    list-style: none;
}

.right {
    position: absolute;
    right: 0;
    margin-right: 1vw;
    display: flex;
}

.option {
    float: right;
    display: flex;
}

.icons-option {
    display: flex;
}

.icons-option li {
    margin: 0 5px;
    color: #adadad;
    cursor: pointer;
}

.img-user {
    margin: 0 20px 0 50px;
    cursor: pointer;
    /* border: 1px solid #eee;
    border-radius: 50%;
    width: 50px;
    height: 50px; */
}

.img-user img {
    border: 1px solid #eee;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.left-sidebar {
    border-right: 1px solid #eee ;
    width: 16vw;
    float: left;
    
}
.btn-new{
    margin: 20px 0px 0px 40px;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    background: #e2e2e2;
    cursor: pointer;
    color: rgb(73, 73, 73);
    width: 10vw;
}
.btn-new:hover {
    background: #fff;
    border: 1px solid rgb(214, 214, 214);
}

.list-btn {
    padding: 10px;
    margin: 0px 0px 0px 20px;
}
.list ul li{
 margin: 10px 0 ;
 cursor: pointer;
 padding:10px;
 
}
.list ul li:hover {
    background: #eeeeee;
    border-radius: 20px;
    border: 1px solid #eee;
    padding:10px;
    transition: 0.3s ease;

}
.list ul li i{
    margin-right: 15px;
    width: 20px;
}

.right-content {
    padding:0 20px;
    width: 84vw;
    float: right;
    background: rgb(246, 245, 245);
    height: 100vh;
    box-shadow: inset 1px 1px 12px #cacaca;
}
.main-head {
    border-bottom: 1px solid #eee;
    background: #eee;
}
.dropdown {
    padding:4px;
    box-shadow: 1px 1px 12px #eee;
}
#select-ver {
    border: none;
    background: #ededed;
    padding:3px;
    border-radius: 10px;
}
.last-view img{
    width:100%;
    
}
.last-view {
    box-shadow: 1px 1px 12px #eee;
}
.list-post {
    /* border-top:1px solid rgb(224, 224, 224); */
    border-bottom:1px solid rgb(224, 224, 224);

}
.list-post:hover {
    background: #ededed;
}
.
.right-list {
    /* border-right:1px solid rgb(190, 190, 190); */
    cursor: pointer;
}
.right-list:hover {
    /* border-right:1px solid rgb(190, 190, 190); */
    cursor: pointer;
}